<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Sección Noticias</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Noticias</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- <section class="content">
    <app-datatable></app-datatable>
</section> -->

<!-- Main content -->
<section class="content d-flex">
    <div class="container">
        <div class="row">
            <div *ngFor="let item of avisos" class="col-lg-12 col-12" >
                <div  class="row border rounded shadow p-3 mb-2 pt-4 bg-light efecto" (click)="modal($event,item)" >
                    <div  class="col-12 col-sm-4 col-md-3"><img  alt=""
                            class="alturaIMG rounded"
                            src="https://api.intranetgp.com/public/{{item.Imagen}}"></div>
                    <div  class="col-12 col-sm-8 col-md-9">
                        <p  class="h3">CERRADO ACCESO</p>
                        <div  class="row">
                            <div  class="col"><button  type="button"
                                    class="btn btn-outline-primary btn-sm rounded-pill mr-2 botoncito"
                                    style="margin-bottom: 15px;">Enterado &nbsp;<i 
                                        class="fas fa-thumbs-up"></i></button><button 
                                    type="button" class="btn btn-outline-dark btn-sm rounded-pill botoncito"
                                    style="margin-bottom: 15px;">Comentarios &nbsp;<i 
                                        class="fas fa-comments"></i></button></div>
                            <div  class="col-4">
                                <p  class="fecha">{{item.Fecha_Aviso}}</p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    </div>

    <div id="colBanner" class="bg-success rounded-lg shadow"></div>

    
</section>

   <!-- Button trigger modal -->
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="abrirmodal" hidden>

  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id ="modalBody">
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
