<section class="content">
  <div class="container">

    <form [formGroup]="Formulario" (ngSubmit)="enviarDatos()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-group ">
            <label for="fechaPublicacion">Fecha Oficio</label>
            <input type="date" class="form-control" formControlName="fecha" name="fechaPublicacion"
              id="fechaPublicacion">
            <div *ngIf="Formulario.get('fecha')?.touched && Formulario.get('fecha')?.errors?.['required' ]"
              class="alert-default-danger"> Fecha Requerida</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group ">
            <label for="folioInterno">Folio Interno</label>
            <input type="text" formControlName="folioInterno" class="form-control" id="folioInterno" placeholder="Folio">
            <div *ngIf="Formulario.get('folioInterno')?.touched && Formulario.get('folioInterno')?.errors?.['required' ]"
              class="alert-default-danger"> Folio Requerido</div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <div class="form-group ">
            <label for="Remitente">Remitente - Departamento</label>
            <input type="text" formControlName="Remitente" class="form-control" id="Remitente" placeholder="Remitente">
            <div *ngIf="Formulario.get('Remitente')?.touched && Formulario.get('Remitente')?.errors?.['required' ]"
              class="alert-default-danger"> Remitente Requerido</div>
          </div>
        </div>

        <div class="form-group col-md-6">

          <label for="Destinatario">Destinatario</label>
          <input type="text" formControlName="Destinatario" class="form-control" id="Destinatario"
            placeholder="Destinatario">
          <div *ngIf="Formulario.get('Destinatario')?.touched && Formulario.get('Destinatario')?.errors?.['required' ]"
            class="alert-default-danger"> Destinatario Requerido</div>
        </div>

        <div class="form-group col-md-6">

          <label for="Correo">Correo</label>
          <input type="text" formControlName="Correo" class="form-control" id="Correo"
            placeholder="Correo">
          <div *ngIf="Formulario.get('Correo')?.touched && Formulario.get('Correo')?.errors?.['required' ]"
            class="alert-default-danger"> Correo Requerido</div>
        </div>

        <div class="form-group col-md-12">
          <label for="desc">Descripcion</label>
          <angular-editor [config]="config" formControlName="descripcion"></angular-editor>
          <!-- <input type="text" formControlName ="descripcion" class="form-control" id="desc" placeholder="Descripcion">
                    <div *ngIf="Formulario.get('descripcion')?.touched && Formulario.get('descripcion')?.errors?.['required' ]" class="alert-default-danger"> Descripcion Requerido</div> -->
        </div>

      </div>
      <div class="form-row d-flex flex-column ">
        <div class="form-group">
          <label for="Atentamente">Atentamente</label>
          <input type="text" formControlName="Atentamente" class="form-control" id="Atentamente"
            placeholder="Atentamente">
          <div *ngIf="Formulario.get('Atentamente')?.touched && Formulario.get('Atentamente')?.errors?.['required' ]"
            class="alert-default-danger"> Atentamente Requerido</div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1">Firma</label>
          <input (change)="createFormData($event)" accept="image/*" type="file" formControlName="archivo"
            class="form-control-file" #exampleFormControlFile1>
          <img [src]="imagenURL ||'assets/img/noimagen.jpg'" alt="Prev" (click)="exampleFormControlFile1.click()"
            class="responsiveIMG">
          <div *ngIf="Formulario.get('archivo')?.touched && Formulario.get('archivo')?.errors?.['required' ]"
            class="alert-default-danger"> Archivo Requerido</div>
        </div>

      </div>

      <button [disabled]="Formulario.invalid" type="submit" class="btn btn-primary btn-lg btn-block">ENVIAR</button>




    </form>
  </div>
  <div>
    <!-- <a [href]="oficio" class="btn btn-primary" target="_blank">VER OFICIO</a> -->
  </div>

</section>